.badge {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  background-color: $lightBlue;
  color: $navyBlue;
  padding: 0.5rem 1rem;
  border-radius: 4rem;
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;

  svg {
    display: none;
  }

  @media (min-width: 1024px) {
    // dekstop code
    font-size: 1rem;
    svg {
      display: block;
    }
  }
}
