// btn-primary
.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: $goldenYellow;
  color: $navyBlue;
  text-decoration: none;
  font-weight: 700;

  &:hover {
    background-color: $royalBlue;
    color: $white;

    svg path {
      fill: $white;
    }
  }
}

// btn-secondary
.btn-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: $transparent;
  color: $navyBlue;
  text-decoration: none;
  font-weight: 700;

  &:hover {
    background-color: $lightBlue;
  }
}

.btn-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 1rem;
  background-color: $transparent;
  color: $navyBlue;
  text-decoration: none;
  font-weight: 700;

  &:hover {
    color: $royalBlue;

    svg path {
      fill: $royalBlue;
    }
  }
}

// mixins
// cta button rounded
@mixin btn-rounded {
  padding: 1rem 2rem;
  background-color: $royalBlue;
  color: $white;
  border-radius: 4rem;

  &:hover {
    background-color: $navyBlue;
    color: $white;
  }
}
