// btn-primary
.btn-primary{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: $goldenYellow;
  color: $navyBlue;
  text-decoration: none;
  font-weight: 700;


  &:hover{
    background-color: $royalBlue;
    color: $white;
    transition: all 0.5s ease;
  }
}

// btn-secondary
.btn-secondary{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: $transparent;
  color: $navyBlue;
  text-decoration: none;
  font-weight: 700;

  &:hover{
    background-color: $lightBlue;
    transition: all 0.5s ease;
  }
}

.btn-link{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;;
  border-radius: 1rem;
  background-color: $transparent;
  color: $navyBlue;
  text-decoration: none;
  font-weight: 700;

  &:hover{
    color: $royalBlue;
    transition: all 0.5s ease;
  }
}
