// mobile code
.brands {
  display: flex;
  gap: 4rem;
  padding: 3rem 0;
  margin: auto;
  overflow: hidden;

  &:hover .brands__wrapper {
    animation-play-state: paused;
  }

  &__wrapper {
    display: flex;
    justify-content: space-around;
    gap: 4rem;
    animation: infinite-loop 20s linear infinite;
  }

  @keyframes infinite-loop {
    to {
      transform: translateX(calc(-100% - 4rem));
    }
  }
}

@media (min-width: 1024px) {
  // dekstop code
  .brands {
    &__wrapper {
      gap: 5.1875rem;
    }
  }
}
