// mobile code
.cta {
  @include container;
  @include padding-section;

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    background-image: url(../assets/images/bg-card-lg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .coin {
      display: none;
    }

    .row-1 {
      padding: 2rem;
      border-bottom: 1px solid;
      border-color: $border-blue;

      h2 {
        @include heading-2;
        text-align: center;
        color: $white;
      }
    }

    .row-2 {
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      p {
        font-size: 1.5rem;
        font-weight: 500;
        text-align: center;
        color: $white;
      }

      .btn-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;

        .btn-link {
          color: $white;

          &:hover {
            color: $navyBlue;
            transition: all 0.5s ease;

            svg path {
              fill: $navyBlue;
            }
          }
        }

        .btn-primary {
          &:hover {
            background-color: $navyBlue;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  // tablet code
  .cta {
    .row-1 {
      padding: 3.12rem;
    }
    .row-2 {
      .btn-wrapper {
        display: flex;
        flex-direction: row;
        gap: 2rem;
      }
    }
  }
}

@media (min-width: 1024px) {
  // dekstop code
  .cta {
    &__card {
      position: relative;
      align-items: stretch;

      .coin {
        position: absolute;
        bottom: 8rem;
        left: -4rem;
      }
    }

    .row-1 {
      h2 {
        width: 65%;
        text-align: start;
      }
    }

    .row-2 {
      padding: 3.12rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      p {
        font-size: 2rem;
      }
    }
  }
}
