// mobile code
.faq {
  @include container;
  @include padding-section;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  &__col-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.25rem;
  }

  &__heading-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    h2 {
      @include heading-2;
      text-align: center;
    }
  }

  &__col-2 {
    display: flex;
    flex-direction: column;

    .accordion {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      hr {
        width: 100%;
        border: 1px solid;
        border-color: $border;
      }

      ul {
        list-style-type: disc;
        list-style-position: inside;
      }

      &__item {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        position: relative;
        overflow: hidden;

        &:target .accordion__item-content {
          max-height: 20rem;
        }

        &:target .accordion__item-label .icon {
          transform: rotate(180deg);
        }

        &-label {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          gap: 2rem;
          width: 100%;
          text-decoration: none;

          .title {
            color: $navyBlue;
            font-size: 1.5rem;
            font-weight: 500;
          }
        }

        &-content {
          max-height: 0;
          overflow: hidden;
          position: relative;
          transition: max-height 650ms;

          p {
            @include text-base;
          }
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  // dekstop code
  .faq {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 2rem;

    &__col-1 {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 2.25rem;
      width: 50%;
    }

    &__heading-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 1rem;

      h2{
        text-align: start;
      }
    }

    &__col-2 {
      width: 50%;
    }
  }
}
