// mobile code
.hero {
  @include container;
  @include padding-section;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  &__col-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    .hero__heading-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }

    h1{
      @include heading-1;
      text-align: center;
    }

    p {
      @include text-lg;
      text-align: center;
    }

    hr {
      display: none;
    }
  }

  &__col-right {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &__btn-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media (min-width: 768px) {
  // tablet code
  .hero {
    &__col-left {
      h1,
      p {
        max-width: 80%;
      }
    }
  }
}

@media (min-width: 1024px) {
  // dekstop code
  .hero {
    @include container;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    &__col-left {
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      gap: 2rem;
      width: 50%;

      .hero__heading-wrapper {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 1rem;
      }

      h1,
      p {
        max-width: 100%;
      }
    }

    &__col-right {
      width: 50%;

      img {
        width: 100%;
      }
    }

    h1,
    p {
      text-align: left;
    }

    hr {
      display: block;
      border: 1px solid;
      border-color: $border;
      width: 100%;
    }

    &__btn-wrapper {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }
  }
}
