// container
@mixin container {
  max-width: 1440px;
  margin: auto;
}

// padding section
@mixin padding-section {
  // mobile code
  // mobile xs
  @media (max-width: 320px) {
    padding: 3rem 1.5rem;
  }

  // mobile
  padding: 3rem 2rem;

  @media (min-width: 1024px) {
    // dekstop
    padding: 6rem 2rem;
  }
}

// reset list
@mixin reset-list {
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

// nav menu
@mixin nav-menu {
  text-decoration: none;
  color: $navyBlue;
  font-weight: 700;
  transition: color 0.3s ease;

  &:hover {
    color: $royalBlue;
  }
}
