// container
@mixin container {
  max-width: 1440px;
  margin: auto;
}

// padding section
@mixin padding-section {
  padding: 3rem 2rem;

  @media (min-width: 1024px) {
    padding: 6rem 2rem;
  }
}

// reset list
@mixin reset-list {
  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }
}

// nav menu
@mixin nav-menu {
  text-decoration: none;
  color: $navyBlue;
  font-weight: 700;
  transition: color 0.3s ease;

  &:hover {
    color: $royalBlue;
  }
}

// cta button rounded
@mixin btn-rounded {
  padding: 1rem 2rem;
  background-color: $royalBlue;
  color: $white;
  border-radius: 4rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $navyBlue;
    color: $white;
  }
}
