// Colors
$white: #FFFFFF;
$black: #000000;
$royalBlue: #403DF4;
$navyBlue: #001A42;
$skyBlue: #47C5FF;
$lightBlue: #ECEEFF;
$turquoiseBlue: #00DBBC;
$pinkMagenta: #FF5EAB;
$goldenYellow: #FFB400;
$lightGray: #F6F6F6;
