// Colors
$white: #ffffff;
$black: #000000;
$royalBlue: #403df4;
$navyBlue: #001a42;
$skyBlue: #47c5ff;
$lightBlue: #eceeff;
$turquoiseBlue: #00dbbc;
$pinkMagenta: #ff5eab;
$goldenYellow: #ffb400;
$lightYellow: #ffd88d;
$lightGray: #f6f6f6;
$transparent: transparent;
// border
$border: #cfcfcf;
$border-blue: #5a6aff;
